<nav class="site-nav">
  <div class="content-wrapper">
    <ul class="nav-list">
      {% for item in site.data.navigation %}
        {% assign url = item.link | relative_url %}
        <li class="nav-item">
          {{ item.name }}</a>

          {% if item.children %}
            <ul class="nav-submenu">
              {% for sub in item.children %}
                {% assign sub_url = sub.link | relative_url %}
                <li>
                  {{ sub.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
